body{
  background-color: #f5f5f5!important;
}
.container{
  margin-top: 50px;


}
.Box{
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #ffff;
  margin-bottom: 30px;
  margin-right: 0;
}
img 
{
  width: 100%; 

}
.image-box{
  width: 300px;
  height: 150px;
  background-color: #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 position: relative;
 background-size: cover;
 background-position: center;
}
.image-btn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: solid #fff;
  background-color: #fff;
  font-size: 14px;
  outline: none;
   position: absolute;
   right: 20px;
   top: 20px;

}
.Box a{
  text-decoration: none;
  color: red;
}
.Box a:hover{
  color: red;
}
.Content-box{
  padding: 20px 20px 10px 20px;
}
.Content-box h4{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 15px 0;
}

.Content-box button{
  width: 100px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  font-size: 12px;
  font-weight: bold;


}


.btn1{
  background-color: #B8231B;
  border: solid #B8231B;
  text-transform: capitalize;
  color: #fff;
}
.btn2{
  background-color: #ffff;
  border: solid #ffff;
  text-transform: capitalize;
  font-size: 12px;
  color: gray;
}

